<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Flask App</title>

    
 
    
</head>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="../static/js/main.js"></script>

<body>

<!-- Cover Image  -->
<div class="jumbotron">
    <h1 id="title">Simulated live stream sensor app</h1>
</div>

<div class="container-fluid">
        <!-- Example row of columns -->
        <div class="row">
            <div class="container-fluid" id="data-container"></div>
        </div>
</div>

<script>
        var chart;

        function requestData()
        {
            // Ajax call to get the Data from Flask
            var requests = $.get('/data');

            // request is complete
            var tm = requests.done(function (result)
            {

                
                var series = chart.series[0],
                    shift = series.data.length > 10;

                // add the point
                chart.series[0].addPoint(result, true, shift);

                // call it again after one second
                setTimeout(requestData, 2000);

            });
        }

        $(document).ready(function() {
            chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'data-container',
                    defaultSeriesType: 'spline',
                    events: {
                        load: requestData
                    }
                },
                title: {
                    text: 'Live sensor data'
                },
                xAxis: {
                    type: 'datetime',
                    tickPixelInterval: 100
                },
                yAxis: {
                    minPadding: 0.2,
                    maxPadding: 0.2,
                    title: {
                        text: 'Value',
                        margin: 80
                    }
                },
                series: [{
                    name: 'Random data',
                    data: []
                }]
            });
        });

</script>


</body>

</html>
